<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'meetup_app/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="container">
          <div class="nav navbar-nav">
              <a class="nav-item nav-link active" href="/home">Dojo Activity Center <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Welcome {{user.first_name}}</a>
              <a class="nav-item nav-link" href="/logoff">Logoff</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <h2>Create an Activity!</h2>
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        <form action="/new_activity" method="post">
            {% csrf_token %}
        <p>Title: <input type="text" name="title"></p>
        <p>Date: <input type="date" name="date"></p>
        <p>Time: <input type="time" name="time"></p>
        <p>Duration: <input type="number" name="duration_number"> <select name="duration">
        <option value="Hours">Hours</option>    
        <option value="Minutes">Minutes</option>    
        <option value="Days">Days</option>    
        </select> </p>
        <p>Description:  <textarea name="description" cols="30" rows="5"></textarea></p>
        <br>
        <input type="submit" value="Create Activity" >
        </form>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>